@* addProductForm defined above is the parameter passed to this view by the controller *@

@import helper._

@(addProductForm: Form[models.Product])

@* helpers will be used to create the form dynamically, though static HTML form element also work. *@

@main("Add Product") {
	<h3>Add a new Product</h3>
	
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.HomeController.addProductSubmit(), 'class -> "form-horizontal", 'role->"form") {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->
		@inputText(addProductForm("name"), '_label -> "Name",'class -> "form-control")
		@select(
			addProductForm("category.id"),
			options(Category.options),
		 '_label -> "Category", '_default -> "-- Choose a category --",
	'_showConstraints -> false, 'class -> "form-control"
		)
		@inputText(addProductForm("description"), '_label -> "Description",'class -> "form-control")
		@inputText(addProductForm("stock"), '_label -> "Stock",'class -> "form-control")
		@inputText(addProductForm("price"), '_label -> "Price",'class -> "form-control")

		<!-- Hidden ID field - required for product updates -->
		@inputText(addProductForm("id"), '_label -> "", 'hidden -> "hidden")

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Save" class="btn btn-primary">
			<a href="@routes.HomeController.products()"><button class="btn btn-warning">Cancel</button>
	  		</a>
  </div>
	} <!-- End Form definition -->

} <!-- End of page content -->

